<div class="container p-t-370">
    <div class="contact-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-image">
                    <img src="{{site.baseurl}}/assets/images/footer_image.png">
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <div class="contact-content">
                    <div class="contact-title white-all">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="contact-body white-all">
                        <p class="font-weight-light small mt-3">What's on your mind? We would like to hear your
                            thoughts. As soon as you click the button
                            below, you acknowledge our <a href="http://localhost:4000/privacy.html">privacy
                                policy</a>.</p>
                    </div>
                    <form action="https://formspree.io/xayeqjel" method="POST">
                        <input type="text" id="email" class="m-t-10" placeholder="Email" name="_replyto" required>
                        <textarea id="message" class="m-t-30" rows="5" placeholder="Message" name="message"></textarea>
                        <button type="submit" class="btn btn-secondary m-t-30">
                            <img src="{{site.baseurl}}/assets/images/button_play.png">
                            Send Message
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>