<div class="row justify-content-center">
    <div class="col-xs-4 footer-nav-item">
        <a class="small" href="{{site.baseurl}}/"><span>Home</span></a>
    </div>
    <div class="col-xs-4 footer-nav-item">
        <a class="small" href="{{site.baseurl}}/blog.html"><span>Blog</span></a>
    </div>
    <div class="col-xs-4 footer-nav-item">
        <a class="small" href="{{site.baseurl}}/versions.html"><span>Versions</span></a>
    </div>
    <div class="col-xs-4 footer-nav-item">
        <a class="small" href="{{site.baseurl}}/imprint.html"><span>Imprint</span></a>
    </div>
    <div class="col-xs-4 footer-nav-item">
        <a class="small" href="{{site.baseurl}}/privacy.html"><span>Privacy Policy</span></a>
    </div>
</div>