<footer class="footer-area background-color2">
    <div class="container">
        <div class="p-b-100">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Architekkt</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="{{site.url}}">Home
                        </a>
                            </li>
                            <li>
                                <a href="{{site.url}}/blog.html">
                        Blog
                        </a>
                            </li>
                            <li><a href="#">
                        Imprint
                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Subscribe Us</h5>
                        </div>
                        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
                            <div class="form-group">
                                <input type="text" class="form-control required email" placeholder="Your Email">
                            </div>
                            <div class="form-group m-0">
                                <button name="subscribe" class="btn btn-primary btn-block" type="submit">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="footer-shape list-inline">
        <li class="left"><img src="{{site.baseurl}}/assets/images/footer-bg-left.png" alt="footer shape" /></li>
        <li class="right"><img src="{{site.baseurl}}/assets/images/footer-bg-right.png" alt="footer shape" /></li>
    </ul>
</footer>