<footer>
    <div class="container p-t-350">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-image">
                        <img src="{{page.baseurl}}/assets/images/footer_image.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner-title">
                        <h5 class="heading-5">Send Us A Message</h5>
                    </div>
                    <form action="https://formspree.io/xayeqjel" method="POST">
                        <input type="text" class="form-control" id="email" placeholder="Your Email" name="_replyto"
                            required>
                        <textarea class="form-control" id="message" rows="5" placeholder="Your Message"
                            name="message"></textarea>
                        <button type="submit" class="btn-submit mt-2">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-background">
    <img src="{{page.baseurl}}/assets/images/footer_background.png">
</div>