<footer class="footer-area background-color2">
    <div class="container">
        <div class="p-b-100">
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Architekkt</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <nav class="nav flex-column navbar-dark">
                                <div class="navbar-nav mr-auto">
                                    {% if page.url == "/" %}
                                    <a class="nav-item nav-link active" href="{{site.url}}">Home</a>
                                    {% else %}
                                    <a class="nav-item nav-link" href="{{site.url}}">Home</a>
                                    {% endif %}
                                    {% if page.url == "/contact.html" %}
                                    <a class="nav-item nav-link active" href="{{site.url}}/contact.html">Contact</a>
                                    {% else %}
                                    <a class="nav-item nav-link" href="{{site.url}}/contact.html">Contact</a>
                                    {% endif %}
                                    {% if page.url == "/imprint.html" %}
                                    <a class="nav-item nav-link active" href="{{site.url}}/imprint.html">Imprint</a>
                                    {% else %}
                                    <a class="nav-item nav-link" href="{{site.url}}/imprint.html">Imprint</a>
                                    {% endif %}
                                    {% if page.url == "/privacy.html" %}
                                    <a class="nav-item nav-link active" href="{{site.url}}/privacy.html">Privacy Policy</a>
                                    {% else %}
                                    <a class="nav-item nav-link" href="{{site.url}}/privacy.html">Privacy Policy</a>
                                    {% endif %}
                                </div>
                            </nav>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Subscribe Us</h5>
                        </div>

                        <!-- Begin Mailchimp Signup Form -->
                        <form
                            action="https://icloud.us4.list-manage.com/subscribe/post?u=9cb5e752425a31ed6a6f04c4b&amp;id=a2f45e2b3b"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div class="form-group">
                                <input type="email" value="" name="EMAIL" class="form-control email"
                                placeholder="Your Email" required>
                            </div>

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_9cb5e752425a31ed6a6f04c4b_a2f45e2b3b" tabindex="-1" value=""></div>

                            <div class="form-group m-0">
                                <button name="subscribe" class="btn btn-primary btn-block" type="submit"
                                    value="Submit">Submit
                                    Now</button>
                            </div>
                        </form>
                        <!--End mc_embed_signup-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="footer-shape list-inline">
        <li class="left"><img src="{{site.baseurl}}/assets/images/footer-bg-left.png" alt="footer shape" /></li>
        <li class="right"><img src="{{site.baseurl}}/assets/images/footer-bg-right.png" alt="footer shape" /></li>
    </ul>
</footer>