<header class="header-area background-color2">
    <div class="container">
        {% include navigation.html %}
        {% if page.url == "/" %}
        <div class="header-banner">
            <div class="row">
                <div class="col-md-8">
                <div class="banner-content">
                    <h1 class="big-font1 white-text m-b-50">Dependency Graph Visualizer for Your iOS and macOS App</h1>
                    <h5 class="white-text m-b-50">Feel the magical satisfaction of a simple and clean architecture and become productive like never before</h5>
                    <ul class="banner-ads-btn list-inline">
                        <li class="list-inline-item"><a href="#" class="ads-btn1 btn btn-primary"><i class="fas fa-download"></i><span> Download</span ></a></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-4">
                <div class="banner-mockup"><img src="{{site.baseurl}}/assets/images/banner.png" alt="banner image showing a mac with the architekkt application" /></div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="header-page-title">
          <div class="row">
            <div class="col-md-12">
                <div class="text-center white-all">
                    <h1 class="big-font1">{{page.title}}</h1>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% include header_shape.html %}
    </div>
</header>
    