<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{site.url}}">{{site.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% if page.url == "/" %}
          <a class="nav-item nav-link active" href="{{site.url}}">Home</a>
        {% else %}
          <a class="nav-item nav-link" href="{{site.url}}">Home</a>
        {% endif %}
        {% if page.url == "/contact.html" %}
          <a class="nav-item nav-link active" href="{{site.url}}/contact.html">Contact</a>
        {% else %}
          <a class="nav-item nav-link" href="{{site.url}}/contact.html">Contact</a>
        {% endif %}
      </div>
    </div>
  </nav>