<section>
    <div class="container p-t-220">
        <div class="newsletter-wrapper">
            <div class="row mx-auto">
                <div class="col-lg-6 my-auto">
                    <div class="newsletter-content">
                        <div class="newsletter-title">
                            <h2>Subscribe Us</h2>
                        </div>
                        <div class="newsletter-body">
                            <p class="font-weight-light small mt-2">Join us on our exciting journey and always be the first to hear news. We won't spam you, we promise. As soon as you click the button below, you acknowledge our <a href="http://localhost:4000/privacy.html">privacy policy</a>.</p>
                        </div>

                        <!-- Begin Mailchimp Signup Form -->
                        <form
                            action="https://icloud.us4.list-manage.com/subscribe/post?u=9cb5e752425a31ed6a6f04c4b&amp;id=a2f45e2b3b"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <input type="email" value="" name="EMAIL"
                                placeholder="Email" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_9cb5e752425a31ed6a6f04c4b_a2f45e2b3b" tabindex="-1" value=""></div>
                                <button name="subscribe" class="btn btn-tertiary" type="submit"
                                    value="Submit">
                                    <img src="{{page.baseurl}}/assets/images/button_newsletter.png"
                                </button>
                        </form>
                        <!--End mc_embed_signup-->

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newsletter-image">
                        <img src="{{page.baseurl}}/assets/images/newsletter-image.png" alt="image showing an opened envelope with a letter from architekkt in front of a computer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="newsletter-backgrounditem">
    <img src="{{page.baseurl}}/assets/images/orange_bubble.png">
</div>