<article class="card text-center mx-auto" data-aos="fade-up">
    {% if post.post_image %}
    <a href="{{post.url}}"><img class="card-img-top" src="{{post.post_image}}" alt="{{post.title}}" /></a>
    {% endif %}
    <div class="card-body">
        <div class="post-desc">
            <h6 class="card-title font-weight-bold"><a href="{{post.url}}">{{post.title}}</a></h5>
            <p class="card-text font-weight-light small mt-4">{{post.content | strip_html | truncate:"80"}}</p>
            <a href="{{post.url}}" class="post-btn">Read More</a>
        </div>
    </div>
</article>