<section>
    <div class="container p-t-140">
        <div class="service-wrapper">
            <div class="service-title" data-aos="fade-up">
                <img src="{{site.baseurl}}/assets/images/service_icon.png">
                <h2>Features</h2>
            </div>
            <div class="row m-t-80">
                {% for service in site.data.services %}
                <div class="col">
                    <div class="card text-center mx-auto" data-aos="fade-up">
                        <img class="card-img-top" src="{{service.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">{{service.title}}</h6>
                            <p class="card-text font-weight-light small mt-4">{{service.description}}</p>
                        </div>
                      </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>
<div class="service-backgrounditem">
    <img src="{{site.baseurl}}/assets/images/orange_bubble.png">
</div>