<div class="container">
    <div class="teaser-wrapper">
        <div class="row">
            <div class="col-md-8">
                <div class="teaser-content">
                    <h1 class="big mb-3">Dependency Graph Visualizer for Your iOS and macOS App</h1>
                    <h5 class="weight-light mb-4">Feel the magical satisfaction of a simple and clean software
                        architecture and become productive like never before</h5>
                    {% include download_button.html %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="teaser-image"><img src="{{site.baseurl}}/assets/images/teaser.png"
                        alt="banner image showing a mac with the architekkt application" /></div>
            </div>
        </div>
    </div>
</div>
<div class="teaser-background-right">
    <img src="{{site.baseurl}}/assets/images/teaser-background-right.png">
</div>
<div class="teaser-background-left">
    <img src="{{site.baseurl}}/assets/images/teaser-background-left.png">
</div>