<section class="background-image1 background-overlay p-t-130 p-b-130">
    <div class="container">
        <div class="video-wrapper">
            <div class="row">
                <div class="col-lg-6 pr-0">
                    <div class="watch-video-play">
                        <video controls>
                            <source src="assets/videos/video-short.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-lg-6 pl-0">
                    <div class="watch-video-content">
                        <div class="watch-video-top">
                            <h2 class="heading-1 white-text">Watch Video</h2>
                        </div>
                        <div class="watch-video-bottom">
                            <h5 class="m-b-30 heading-5">Pictures say more than a thousand words
                            </h5>
                            <p>Take a look at how the structure of a small iOS program is examined</p>
                        </div>
                    </div>
                    <div class="watch-arrow" data-aos="fade-up-left"><img src="assets/images/arrow-key.png"
                            alt="watch video arrow" /></div>
                </div>
            </div>
        </div>
    </div>
</section>