<div class="col-lg-6 my-auto">
    <div class="video-content" data-aos="fade-up-left">
        <div class="video-title">
            <h2>Watch Video</h2>
        </div>
        <div class="video-body">
            <p class="font-weight-light small mt-2">Pictures say more than a thousand words. Take a look
                at
                how
                the structure of a small iOS
                program is examined.</p>
        </div>
        <button type="button" class="btn btn-secondary mt-2" onclick="video=document.getElementById('video');video.paused?video.play():video.pause();">
            <img src="{{site.baseurl}}/assets/images/button_play.png">
            Play Video
        </button>
    </div>
</div>