<section>
    <div class="container p-t-220">
        <div class="video-wrapper">
            <div class="row mx-auto">
                {% include video_play.html %}
                {% include video_content.html %}
            </div>
        </div>
        <div class="video-wrapper-reversed">
            <div class="row mx-auto">
                {% include video_content.html %}>
                {% include video_play.html %}
            </div>
        </div>
    </div>
</section>
<div class="video-backgrounditem">
    <img src="{{site.baseurl}}/assets/images/teal_bubbles.png">
</div>