<section>
    <div class="container p-t-350">
        <div class="video-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="video-play">
                        <video title="architekkt introduction video" id="video" controls preload="none" poster="{{site.baseurl}}/assets/images/video-poster.jpg">
                            <source src="{{site.baseurl}}/assets/videos/video-short.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="video-content">
                        <div class="video-title">
                            <h2>Watch Video</h2>
                        </div>
                        <div class="video-body">
                            <p class="font-weight-light small mt-2">Pictures say more than a thousand words. Take a look
                                at
                                how
                                the structure of a small iOS
                                program is examined.</p>
                        </div>
                        <button type="button" class="btn btn-secondary mt-2" onclick="video=document.getElementById('video');video.paused?video.play():video.pause();">
                            <img src="{{site.baseurl}}/assets/images/button_play.png">
                            Play Video
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="video-backgrounditem">
    <img src="{{site.baseurl}}/assets/images/teal_bubbles.png">
</div>