---
---

@import "variables";
@import "fonts";
@import "functions";
@import "reset";
@import "typography";

/* ==============================================

Color

============================================== */

.background-color1 {
    background-color: $background-color1;
}

.background-color2 {
    background-color: $background-color2;
}

.background-overlay:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $background-overlay;
    opacity: 0.95;
    z-index: 1;
}

div[class*="-wrapper"] {
    position: relative;
    z-index: 3;
}

/* ==============================================

Background Image

============================================== */

.background-image1 {
    background: $background-color1 url("../images/watch-video-bg.jpg") no-repeat fixed center/cover;
}

/* ==============================================

Section & Inner Title

============================================== */

.section-title {
    position: relative;
    bottom: 9px;

    h2 {
        margin-bottom: $inner-60;
        font-weight: $font-weight-semibold;

        @include tablet {
            margin-bottom: 20px;
        }
    }

    p {
        margin: 0;
    }

    @include tablet {
        bottom: 0px;
    }
}

.inner-title {
    margin-bottom: $inner-30 - 10px;

    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

/* ==============================================

Form & Button

============================================== */

form,
fieldset {
    padding: 0;
    margin: 0;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea[class],
select {
    transition: $transition-base;
    @include form-size(inherit, ($form-space-v + 5), ($form-space-h - 10), $form-radius);
    @include form-variant(inherit, transparent, $form-border, inherit, $form-change-bg, $form-change-border2)
}


button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    transition: $transition-base;
    @include form-size($form-size, $form-space-v, $form-space-h, $form-radius);
    @include form-variant($form-color, $form-bg2, $form-border2, $form-change-color2, $form-change-bg3, $form-change-border2)
}

.ads-btn1 {
    @include form-size($form-size2, $form-space-v + 6, $form-space-v + 10, $form-radius);
    @include form-variant($form-color2, $form-bg, $form-border3, $form-change-color, $form-bg2, $form-change-border2);

    span {
        margin-left: 10px;
    }

    img {
        height: 20px;
        width: 20px;
        object-fit: contain;
    }
}

/* ==============================================

Header Area

============================================== */

.main-area {
    overflow: hidden;
}

/* ==============================================

Header Area

============================================== */

.header-area {
    margin-bottom: 430px;

    &:before {
        content: "";
        height: 700px;
        border-bottom-left-radius: 270px;
        border-bottom-right-radius: 270px;
        background: $background-color2;
        display: block;
        position: absolute;
        transform: rotate(6deg);
        left: -50px;
        right: -70px;
        bottom: -292px;
        z-index: 2;

        @include desktop {
            bottom: -240px;
        }

        @include laptop {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    .navbar {
        z-index: 3;
    }

    .header-banner {
        padding: 180px 50px 0px 0px;
        z-index: 3;
        position: relative;

        @include desktop {
            padding: 100px 0px 0px 0px;
        }

        @include laptop {
            padding: 40px 0px 100px 0px;
        }

        @include tablet {
            padding: 60px 0px 80px 0px;
        }
    }

    @include desktop {
        margin-bottom: 277px;
    }

    @include laptop {
        margin: 0;
    }

    @include tablet {
        margin: 0;
    }
}

.header-area .container {

    padding-top: $inner-70;

    @include mobile {
        padding-top: 0;
    }

}

@-webkit-keyframes banner-mockup {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes banner-mockup {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@-webkit-keyframes banner-mockup-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes banner-mockup-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

.header-banner {
    .banner-content {
        padding-right: $inner-30;
        position: relative;

        @include laptop {
            padding-right: 0;
        }

        @include tablet {
            padding-right: 0;
        }
    }

    .banner-mockup {
        position: absolute;
        animation-name: banner-mockup-sink, banner-mockup;
        animation-duration: .3s, 1.5s;
        animation-delay: 0s, .3s;
        animation-timing-function: ease-out, ease-in-out;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;

        @include tablet {
            display: none;

        }

        @include desktop {
            margin: 0;

            img {
                max-width: 200%;
            }
        }

        @include laptop {
            margin: 0;

            img {
                max-width: 250%;
            }
        }
    }

    .banner-ads-btn {
        li {
            margin-right: 20px;
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }

            @include mobile {
                display: block;
                margin-right: 0;

                a {
                    display: block;
                }
            }
        }
    }
}

.header-shape {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

    .left {
        position: absolute;
        left: -190px;
        top: -690px;

        @include desktop {
            left: -140px;
            top: -220px;
            width: 470px;

        }

        @include laptop {
            left: -80px;
            top: -220px;
            width: 400px;
        }
    }

    .right {
        position: absolute;
        right: -640px;
        top: -610px;

        @include desktop {
            right: -295px;
            top: -90px;
            width: 600px;
        }

        @include laptop {
            right: -250px;
            top: -90px;
            width: 480px;
        }
    }

    img {
        max-width: 100%;
    }

    @include tablet {
        display: none;
    }
}

.header-page-title {
    position: relative;
    z-index: 3;
    padding-top: 90px;

    @include tablet {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    @include laptop {
        padding-top: 80px;
        padding-bottom: 100px;
    }
}

/* ==============================================

Footer Area

============================================== */

.footer-area {
    margin-top: 265px;

    &:before {
        content: "";
        height: 700px;
        border-top-left-radius: 270px;
        border-top-right-radius: 270px;
        background: $background-color2;
        display: block;
        position: absolute;
        transform: rotate(6deg);
        left: -50px;
        right: -70px;
        top: -188px;
        z-index: 1;

        @include laptop {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    @include desktop {
        margin-top: 222px;
    }

    @include tablet {
        margin-top: 0;
        padding-top: $inner-90;
    }

    @include laptop {
        margin-top: 0;
        padding-top: $section-130;
    }
}

.footer-widget {
    margin-bottom: $inner-30;
    position: relative;
    z-index: 3;

    .widget-title {
        margin-bottom: 10px;

        h5 {
            margin: 0;
            color: rgba($font-color4, 0.9);
        }
    }

    p {
        color: rgba($font-color4, 0.9);
    }

    .widget-list {
        margin: 0;

        li {
            margin-bottom: 5px;
        }

        li a {
            color: rgba($font-color4, 0.9);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    form {
        @include placeholder {
            color: $font-color4;
        }

        input {
            @include form-size($form-size, $form-space-v, $form-space-h - 15, $form-radius);
            @include form-variant($form-color, $form-bg2, $form-border2, $form-color, $form-bg2, $form-border2)
        }

        button {

            @include form-size($form-size, $form-space-v, $form-space-h, $form-radius);
            @include form-variant($form-color2, $form-bg, $form-border3, $form-change-color, $form-bg2, $form-change-border2)
        }
    }
}

.footer-shape {
    position: absolute;
    width: 100%;

    .left {
        position: absolute;
        bottom: -40px;
        left: -40px;

        img {
            z-index: 2;
            position: relative;
        }
    }

    .right {
        position: absolute;
        right: -40px;
        bottom: -40px;

        img {
            z-index: 2;
            position: relative;
        }
    }

    @include tablet {
        display: none;
    }
}

/* ==============================================

Service Area

============================================== */
.line-color1 {
    background-color: #fec2c2;
    ;
}

.line-color2 {
    background-color: #b0ffca;
}

.line-color3 {
    background-color: #d8c8fc;
}

.service-box {
    text-align: center;
    margin-bottom: $inner-30;

    .service-logo {
        padding: 21px 5px;
        width: 85px;
        height: 85px;
        border-radius: $round-radius;
        box-shadow: $box-shadow-deep;
        display: block;
        text-align: center;
        margin: auto auto $inner-30;
        transition: $transition-base;

        img {
            max-height: 40px;
        }

    }

    .service-content {

        h5,
        h4,
        h3 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: $inner-30;
        }
    }

    .service-line {
        position: relative;
        width: 2px;
        height: 70px;
        display: block;
        top: 0;
        margin: auto auto 0;
        transition: $transition-base;
    }

    &:hover {
        .service-logo {
            box-shadow: $box-shadow;

        }

        .service-line {
            top: -15px;
        }
    }
}

/* ==============================================

Watch Video Area

============================================== */

.watch-video-play {
    position: relative;
    margin-top: 240px;

    video {
        max-width: 100%;
        border-radius: $border-radius;
    }

    @include laptop {
        margin-top: 0;
        margin-bottom: 30px;
        padding-right: 15px;
    }

    @include tablet {
        margin-top: 0;
        margin-bottom: 30px;
        padding-right: 15px;
    }

    .play-btn {
        padding: 29px 10px;
        display: block;
        text-align: center;
        width: 90px;
        height: 90px;
        border-radius: $round-radius;
        background: $background-color1;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
        animation: play-btn 1.5s infinite;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;

        i {
            font-size: 32px;
        }

        &:hover {
            -webkit-animation: none;
            animation: none;
        }
    }

    @keyframes play-btn {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        }

        70% {
            box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }
}

.watch-video-content {

    .watch-video-top {
        background-color: $background-color3;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: $inner-30 - 10 $inner-60;

        h2 {
            margin: 0;
        }

        @include tablet {
            padding: $inner-30 - 15 $inner-30;
        }
    }

    .watch-video-bottom {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: $background-color1;
        padding: $inner-50 $inner-60;

        p {
            margin: 0;
        }

        @include tablet {
            padding: 30px;
        }

    }

    @include laptop {
        padding-left: 15px;
    }

    @include tablet {
        padding-left: 15px;
    }

}

.watch-arrow {
    margin: 20px;

    @include laptop {
        display: none;
    }

    @include tablet {
        display: none;
    }
}

/* ==============================================

Shape  Animation

============================================== */

@keyframes animationFramesOne {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}


@-webkit-keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes animationFramesTwo {
    0% {
        transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    20% {
        transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }

    40% {
        transform: translate(141px, 72px) rotate(72deg) scale(1);
    }

    60% {
        transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }

    80% {
        transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
}


@-webkit-keyframes animationFramesTwo {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }

    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }

    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
}

@keyframes animationFramesThree {
    0% {
        transform: translate(-300px, 151px) rotate(0deg);
    }

    100% {
        transform: translate(251px, -200px) rotate(180deg);
    }
}


@-webkit-keyframes animationFramesThree {
    0% {
        -webkit-transform: translate(-300px, 151px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(251px, -200px) rotate(180deg);
    }
}

.themeix-ani {
    .shape-one {
        position: absolute;
        left: 9%;
        top: 28%;
        animation: animationFramesOne 25s alternate infinite linear;
    }

    .shape-two {
        position: absolute;
        left: 38%;
        bottom: 25%;
        animation: animationFramesTwo 35s alternate infinite linear;
    }

    .shape-tree {
        position: absolute;
        bottom: 60%;
        right: 10%;
        animation: animationFramesThree 20s infinite linear;
    }

    @include tablet {
        display: none;
    }
}