---
---

@import "variables";
@import "fonts";
@import "functions";
@import "typography";

/* ==============================================

Color

============================================== */

.background-color-dark {
    background-color: $background-color-dark;
}

/* ==============================================

Form

============================================== */

input, textarea {
    font-weight: $font-weight-light;
    border: none;
    min-width: 0;
}

input::placeholder, textarea::placeholder {
    font-weight: $font-weight-light;
}

textarea:focus, input:focus{
    outline: none;
}

/* ==============================================

Button

============================================== */

.btn-base {

    color: #fff;
    border-radius: 2rem;
    height: 2.9rem;
    padding: 0 2rem 0 1rem;
    border-style: none;
    font-weight: $font-weight-semibold;
    transition: all 0.3s ease-in-out;
    @include font-size($small-font-size);

    img {
        height: 1.6rem;
        width: 1.6rem;
        object-fit: contain;
    }

    @include mobile {
        width: 100%;
    }

}

.btn-primary {
    @extend .btn-base;
    background-image: linear-gradient(to right, #70D8FF, #79FCEA);
    box-shadow: 0 4px 8px rgba(112, 217, 255, 0.4);
}

.btn-primary:hover {
    box-shadow: 0 8px 16px rgba(112, 217, 255, 0.6);
}

.btn-secondary {
    @extend .btn-base;
    background-image: linear-gradient(to right, #F67B78, #F5C481);
    box-shadow: 0 4px 8px rgba(246, 122, 120, 0.4);
}

.btn-secondary:hover {
    box-shadow: 0 8px 16px rgba(246, 122, 120, 0.6);
}

.btn-tertiary {
    @extend .btn-secondary;
    border-radius: $radius;
    padding: 0;

    img {
        height: 2.1rem;
        width: 2.1rem;
    }
}

/* ==============================================

Helper

============================================== */

body {
    overflow-x: hidden;
}

div[class*="-wrapper"] {
    position: relative;
    z-index: 3;
}

div[class*="-title"] {

    display: flex;
    align-items: center;

    img {
        height: 2.1rem;
        width: 2.1rem;
        margin-right: 0.7rem
    }

    h2 {
        margin: 0;
        font-weight: $font-weight-semibold;
    }

}

div[class*="-backgrounditem"] {

    position: absolute;
    z-index: 2;

    img {
        max-width: 75%;
    }

    @include larger-desktop {
        img {
            max-width: 75%;
        }
    }

    @include large-desktop {
        img {
            max-width: 65%;
        }
    }

    @include desktop {
        img {
            max-width: 45%;
        }
    }

    @include laptop {
        img {
            max-width: 40%;
        }
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }

}

/* ==============================================

Main

============================================== */

.main-area {
    position: relative;
    overflow: hidden;
}

/* ==============================================

Header

============================================== */

nav {

    img {
        height: 5rem;
    }

    .btn-primary {
        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

}

.navbar {

    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    z-index: 3;

}

.pagetitle {
    position: relative;
    z-index: 3;
    padding-top: 90px;

    @include laptop {
        padding-top: 80px;
        padding-bottom: 25px;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    @include mobile {
        padding-top: 40px;
        padding-bottom: 15px;
    }
}

/* ==============================================

Teaser

============================================== */

.teaser-wrapper {

    padding: 120px 0px 0px 0px;
    overflow: visible;

    @include desktop {
        padding: 100px 0px 0px 0px;
    }

    @include laptop {
        padding: 40px 0px 0px 0px;
    }

    @include tablet {
        padding: 40px 0px 0px 0px;
    }

    @include mobile {
        padding: 40px 0px 0px 0px;
    }

    .teaser-content {
        padding-right: 4rem;

        h6 {
            width: 70%;
            line-height: 2rem;
        }

        @include laptop {
            padding-right: 0;
        }

        @include tablet {
            padding-right: 0;
        }

        @include mobile {
            padding-right: 0;

            h6 {
                width: 100%;
            }
        }

    }

    .teaser-image {
        position: absolute;
        top: -110px;
        left: -250px;

        img {
            max-width: 125%;
        }

        @include larger-desktop {
            img {
                max-width: 115%;
            }
        }

        @include large-desktop {
            img {
                max-width: 110%;
            }
        }

        @include desktop {

            top: -60px;
            left: -140px;

            img {
                max-width: 100%;
            }
        }

        @include laptop {
            top: -20px;
            left: -90px;

            img {
                max-width: 110%;
            }
        }

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

}

.teaser-background-right {

    position: absolute;
    z-index: 2;
    top: 100px;
    right: -20px;
    max-width: 45vw;

    img {
        max-width: 100%;
    }

    @include larger-desktop {
        top: 120px;
    }

    @include large-desktop {
        top: 140px;
    }

    @include desktop {
        max-width: 40vw;
        top: 140px;
    }

    @include laptop {
        max-width: 40vw;
        top: 140px;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }

}

.teaser-background-left {

    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    right: 0;

    img {
        max-width: 100%;
    }

    @include larger-desktop {
        top: -60px;
    }

    @include large-desktop {
        top: -20px;
    }

    @include desktop {
        top: 20px;
    }

    @include laptop {
        top: 60px;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }

}

/* ==============================================

Services

============================================== */

.service-backgrounditem {

    left: -80px;
    top: 930px;

    @include desktop {
        left: -60px;
    }

    @include laptop {
        left: -55px;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }

}

.card {

    width: 19rem;
    height: 24rem;
    margin-bottom: 4rem;
    border-radius: $double-radius;
    border: none;
    box-shadow: $shadow;
    transition: 0.3s;

    img {
        height: 12.5rem;
    }

    @include large-desktop {

        img {
            height: 9rem;
        }

        width: 17rem;
        height: 21rem;
    }

    @include desktop {

        img {
            height: 9rem;
        }

        width: 16rem;
        height: 20rem;
    }

    @include laptop {

        img {
            height: 9rem;
        }

        width: 16rem;
        height: 20rem;
    }

    @include tablet {

        img {
            height: 9rem;
        }

        width: 15rem;
        height: 19rem;
    }

    @include mobile {

        img {
            height: 9rem;
        }

        width: 16rem;
        height: 20rem;
    }

}

.card:hover {
    box-shadow: $strong-shadow;
}

/* ==============================================

Video

============================================== */

.video-wrapper {

    @include laptop {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }

}

.video-wrapper-reversed {

    display: none;

    @include laptop {
        display: block;
    }

    @include tablet {
        display: block;
    }

    @include mobile {
        display: block;
    }

}

.video-backgrounditem {

    right: -240px;
    top: 1950px;

    @include larger-desktop {
        top: 1900px;
    }

    @include large-desktop {
        right: -330px;
        top: 1770px;
    }

    @include desktop {
        right: -390px;
        top: 1700px;
    }

    @include laptop {
        right: -430px;
    }

}

.video-play {

    video {
        max-width: 100%;
        border-style: solid;
        border-width: 2rem;
        border-radius: $double-radius;
        border-color: white;
        box-shadow: $shadow;

        @include mobile {
            border-width: 1rem;
        }
    }

}

.video-content {
    padding: 0 3rem 0 3rem;

    @include laptop {
        padding: 0 0 3rem 0;
    }

    @include tablet {
        padding: 0 0 3rem 0;
    }

    @include mobile {
        padding: 0 0 3rem 0;
    }

    .video-body {
        line-height: 2rem;
    }

    button {
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.3rem;
            margin-right: 0.5rem;
        }
    }
}

/* ==============================================

Newsletter

============================================== */

.newsletter-image {
    
img {
    max-width: 100%;
}

}

.newsletter-content {
    padding: 0 3rem 0 3rem;

    @include laptop {
        padding: 0 0 3rem 0;
    }

    @include tablet {
        padding: 0 0 3rem 0;
    }

    @include mobile {
        padding: 0 0 3rem 0;
    }

    .newsletter-body {
        line-height: 2rem;
    }

    form {
        display: flex;
        max-width: 75%;
        border-radius: $radius;
        box-shadow: $shadow;
        height: 2.9rem;
        
        input {
            flex: 1;
            flex-shrink: 1;
            min-width: 0;
            margin: auto 1rem auto 1.5rem;
        }

        button {
            width: 4rem;
            flex-shrink: 0;
        }

        @include desktop {
            max-width: 100%;
        }

        @include laptop {
            max-width: 50%;
        }

        @include mobile {
            max-width: 100%;
        }

    }
}

.newsletter-backgrounditem {

    left: 200px;

    @include larger-desktop {
        left: 140px;
    }

    @include large-desktop {
        left: 70px;
    }

    @include desktop {
        left: 30px;
    }

    @include laptop {
        top: 3030px;
        left: -40px;
    }

}

/* ==============================================

Contact

============================================== */

.contact-image {
    position: relative;
    left: -145px;

    img {
        width: 135%;
    }

    @include large-desktop {
        left: -20px;
        img {
            width: 110%;
        }
    }

    @include desktop {
        left: 30px;
        bottom: 60px;
        img {
            width: 100%;
        }
    }

    @include laptop {
        left: -20px;
        bottom: 10px;
        img {
            width: 110%;
        }
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
}

.contact-content {

    padding: 0 0 0 5.5rem;

    button {
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.3rem;
            margin-right: 0.5rem;
        }
    }

    input, textarea {
        border-radius: $radius;
        box-shadow: $shadow;
        padding: 0 1.5rem 0 1.5rem;
    }

    input {
        width: 80%;
        height: 2.9rem;
    }

    textarea {
        width: 100%;
        padding-top: 1rem;
        resize: none;
        height: 13rem;

    }

    p {
        margin-top: 1rem;
    }

    @include laptop {
        padding: 0 0 0 3rem;

        textarea {
            height: 5rem;
            margin-top: 1rem;
        }

        input {
            margin-top: 0;
        }

        button {
            margin-top: 0.5rem;
        }

        p {
            margin-top: 0;
        }

    }

    @include tablet {
        padding: 0 2.5rem 0 2.5rem;
        
        input {
            width: 100%
        }
    }

    @include mobile {
        padding: 0 1rem 0 1rem;

        input {
            width: 100%
        }
    }

}

.contact-container {
    @include tablet {
        padding-top: 4rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        background-color: $background-color-dark;
        max-width: none;
    }
    @include mobile {
        padding-top: 4rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        background-color: $background-color-dark;
        max-width: none;
    }

}

/* ==============================================

Footer

============================================== */

.footer-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;

    img {
        width: 100%;
    }
    
    @include larger-desktop {
        bottom: 35px;
    }

    @include large-desktop {
        bottom: 55px;
    }

    @include desktop {
        bottom: 130px;
    }

    @include laptop {
        bottom: 220px;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
    
}

.footer-nav {
    padding: 3rem 0 3rem 0;

    img {
        height: 4.5em;
        width: 4.5rem;
    }

    span {
        white-space: nowrap;
    }

    .row {
        justify-content: space-around;
    }

    .footer-logo {
        @include laptop {
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        
        @include tablet{
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        @include mobile {
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .footer-nav-item {
        padding-right: 1.5rem;

        @include laptop {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }
        
        @include tablet{
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }

        @include mobile {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }
    }

    .footer-nav-reversed {
        display: none;

        @include laptop {
            display: block;
        }

        @include tablet {
            display: block;
        }

        @include mobile {
            display: block;
        }
    }

    .footer-nav-normal {

        @include laptop {
            display: none;
        }

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }

    }

}