<!DOCTYPE HTML>
<html lang="en">

    <head>
        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/cb8363daeb.js" crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{site.baseurl}}/assets/images/favicon/site.webmanifest">

        <!-- HTML Meta Tags -->
        {% if page.title %}
        {% capture title %}{{site.title}} - {{page.title}}{% endcapture %}
        {% else %}
        {% capture title %}{{site.title}}{% endcapture %}
        {% endif %}
        {% if page.description %}
        {% capture description %}{{ page.description | truncate: 160 }}{% endcapture %}
        {% else %}
        {% capture description %}{{ site.description | truncate: 160 }}{% endcapture %}
        {% endif %}
        <title>{{ title }}</title>
        <meta itemprop="description" name="description" content="{{ description }}" />

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{ title }}">
        <meta itemprop="description" content="{{ description }}">
        <meta itemprop="image" content="assets/images/banner.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="assets/images/banner.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="assets/images/banner.png">
    </head>

    <body>
        <main class="main-area">
            {% include header.html%}
            {{content}}
            {% include footer.html %}
        </main>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>