---
layout: default
---

<div class="blog-area bg-color1 p-t-130 p-b-100">
    <div class="container">
        <div class="blog-wrapper">
            <div class="row">
                <div class="col-md-10 m-auto">
                    {% if page.post_image %}
                    <div class="blog-media m-b-30">
                        <img src="{{page.post_image}}" alt="{{page.title}}" />
                    </div>
                    {% endif %}
                    <div class="entry-content blog-spacing">
                        {{page.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>